@charset "UTF-8";

:root {
    --cor0: #01A1FF;
    --cor1: #013750;
    --cor2: #c2e7f8;

    --fonte-padrao: "Poppins", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: var(--cor2);
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
}

main {
    width: 100%;
}

main .card {
    width: 20%;
    height: 40%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin: auto;
}

main .card .container-foto {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

main .card .container-foto img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
}

main article {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5em;
    margin: auto;
    font-family: var(--fonte-padrao);
    margin-bottom: 20px;
}

main article h1 {
    font-size: 2em;
    text-align: center;
    margin: 10px 0;
    line-height: 1.5em;
    color: var(--cor1);
}

main article p {
    text-align: justify;
    letter-spacing: 1.7px;
    margin-bottom: 10px;
    color: var(--cor1);
}

main article p > strong {
    color: var(--cor1);
}

main article p>a {
    text-decoration: none;
    color: var(--cor1);
    font-weight: bold;
}