@media(max-width: 1600px){
    body {
        height: 800px;
    }
    main .card {
        width: 60%;
    }
}
@media(max-width: 1000px){
    main .card {
        width: 90%;
    }
}
@media(max-width: 500px){
    main .card {
        min-width: 100%;
        padding: 0;
    }
    main .card .container-foto img {
        margin-top: 20px;
    }
}